@model Data.ViewModels.ClientViewModel

<div class="modal fade" id="clientModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Alta y/o modificación de Usuarios.</h5>
            </div>

            @if (Model.Id != 0)
            {
                @using (Html.BeginForm("UpdateClient", "/Client", FormMethod.Post))
                {
                    @Html.HiddenFor(e => e.Id)
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6 mt-1 mb-3">
                                <label class="col-md-4 form-control-label">Name</label>
                                @Html.EditorFor(x => x.Name, new { htmlAttributes = new { @class = "col-md-8 form-control", required = "required" } })
                            </div>
                            <div class="col-md-6 mt-1 mb-3">
                                <label class="col-md-2 form-control-label">Password</label>
                                @Html.EditorFor(x => x.Password, new { htmlAttributes = new { @class = "col-md-8 form-control", required = "required" } })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-1 mb-3">
                                <label class="col-md-2 form-control-label">Email</label>
                                @Html.EditorFor(x => x.Email, new { htmlAttributes = new { @class = "col-md-8 form-control", required = "required"} })
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" id="btnGuardar">Save</button>
                        <button type="button" class="btn btn-danger" onclick="DeleteClient({ Id: @Model.Id })" data-bs-dismiss="modal">Delete</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                }
            }
            else
            {
                @using (Html.BeginForm("CreateClient", "/Client", FormMethod.Post))
                {
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6 mt-1 mb-3">
                                <label class="col-md-4 form-control-label">Name</label>
                                @Html.EditorFor(x => x.Name, new { htmlAttributes = new { @class = "col-md-8 form-control", required = "required" } })
                            </div>
                            <div class="col-md-6 mt-1 mb-3">
                                <label class="col-md-2 form-control-label">Password</label>
                                @Html.EditorFor(x => x.Password, new { htmlAttributes = new { @class = "col-md-8 form-control", required = "required" } })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-1 mb-3">
                                <label class="col-md-2 form-control-label">Dni</label>
                                @Html.EditorFor(x => x.Email, new { htmlAttributes = new { @class = "col-md-8 form-control", required = "required" } })
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" id="btnGuardar">Save</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                }
            }
        </div>
    </div>
</div>